<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Revit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Revit.Properties.Settings>
            <setting name="pipes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pipesf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pipesa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pathim" serializeAs="String">
                <value>C:\Users\USER\Desktop\import.txt</value>
            </setting>
            <setting name="pathex" serializeAs="String">
                <value>C:\ProgramData\Autodesk\Revit\Addins\2019\credentials.json</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="list_syst" serializeAs="String">
                <value />
            </setting>
            <setting name="plumbing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="accecory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fitting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pipe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="insulation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="counter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TD" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="worksetvar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewsvar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="linksvar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="purgevar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cadvar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="listvar" serializeAs="String">
                <value />
            </setting>
            <setting name="spname1" serializeAs="String">
                <value>_entools1</value>
            </setting>
            <setting name="spname2" serializeAs="String">
                <value>_entools2</value>
            </setting>
            <setting name="spname3" serializeAs="String">
                <value>_entools3</value>
            </setting>
            <setting name="spname4" serializeAs="String">
                <value>_entools4</value>
            </setting>
            <setting name="spname5" serializeAs="String">
                <value>_entools5</value>
            </setting>
            <setting name="spname6" serializeAs="String">
                <value>_entools6</value>
            </setting>
            <setting name="spname7" serializeAs="String">
                <value>_entools7</value>
            </setting>
            <setting name="spname8" serializeAs="String">
                <value>_entools8</value>
            </setting>
            <setting name="koef_p" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="koef_i" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="eworkset" serializeAs="String">
                <value />
            </setting>
            <setting name="spname9" serializeAs="String">
                <value>_entools9</value>
            </setting>
            <setting name="spname10" serializeAs="String">
                <value>_entools10</value>
            </setting>
            <setting name="defaults" serializeAs="String">
                <value />
            </setting>
            <setting name="sheet" serializeAs="String">
                <value />
            </setting>
            <setting name="jsonn" serializeAs="String">
                <value />
            </setting>
            <setting name="revit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gs" serializeAs="String">
                <value>False</value>
            </setting>
        </Revit.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
